.anchor{
        text-decoration: none;
        color: black;
}
.span{
    /* border: 2px solid black; */
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius:5px;
}
.icon{
    margin:auto;
    cursor: pointer;
}

